In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/nasa_asteroids.csv')

In [3]:
df

      Neo Reference ID     Name  ...  Equinox  Hazardous
0              3703080  3703080  ...    J2000       True
1              3723955  3723955  ...    J2000      False
2              2446862  2446862  ...    J2000       True
3              3092506  3092506  ...    J2000      False
4              3514799  3514799  ...    J2000       True
...                ...      ...  ...      ...        ...
4682           3759007  3759007  ...    J2000      False
4683           3759295  3759295  ...    J2000      False
4684           3759714  3759714  ...    J2000      False
4685           3759720  3759720  ...    J2000      False
4686           3772978  3772978  ...    J2000      False

[4687 rows x 40 columns]

In [ ]:
df.to_excel('/content/drive/MyDrive/nasa_asteroids_edited.xlsx')

# **Connect**
- **Feel free to connect with Adrian on [YouTube](https://www.youtube.com/channel/UCPuDxI3xb_ryUUMfkm0jsRA), [LinkedIn](https://www.linkedin.com/in/adrian-dolinay-frm-96a289106/), [Twitter](https://twitter.com/DolinayG) and [GitHub](https://github.com/ad17171717). Happy coding!**